.no-gutter {
	margin: 0 !important;
	padding: 0 !important;
}

#schedule-rooms .room {
	float: left;
	width: 300px;
	text-align: center;
	color: white;
}

#schedule-timeslots .timeslot {
	height: 20px;
}


#schedule-topic {
	position: relative;
}

#schedule-topic .topic {
	background-color: orange;
	color: white;
}

#schedule-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
}